In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score,confusion_matrix,accuracy_score,recall_score,classification_report

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [5]:
df = pd.get_dummies(df)
df.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0  15624510   19            19000          0              0            1
1  15810944   35            20000          0              0            1
2  15668575   26            43000          0              1            0
3  15603246   27            57000          0              1            0
4  15804002   19            76000          0              0            1

In [6]:
x = df[['Age','EstimatedSalary','Gender_Female','Gender_Male']]
y = df['Purchased']

In [7]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state = 0)

In [8]:
print(f'Train Dataset Size - X: {xtrain.shape}, Y: {ytrain.shape}')
print(f'Test Dataset Size - X: {xtest.shape}, Y: {ytest.shape}')

Train Dataset Size - X: (320, 4), Y: (320,)
Test Dataset Size - X: (80, 4), Y: (80,)

In [9]:
lr = LogisticRegression(random_state = 0, solver='lbfgs')
lr.fit(xtrain,ytrain)

LogisticRegression(random_state=0)

In [10]:
pred = lr.predict(xtest)

In [11]:
cm = confusion_matrix(ytest,pred)

In [12]:
print(f'''Confusion matrix :\n
                |Positive Prediction\t | Negative Prediction
----------------+------------------------+----------------------
Positive Class  | True Positive (TP) {cm[0,0]}  | False Negative (FN) {cm[0,1]}
----------------+------------------------+----------------------
Negative Class  | False Positive (FP) {cm[1, 0]} | True Negative  (TN)  {cm[1, 1]}\n\n''')

Confusion matrix :

                |Positive Prediction	 | Negative Prediction
----------------+------------------------+----------------------
Positive Class  | True Positive (TP) 58  | False Negative (FN) 0
----------------+------------------------+----------------------
Negative Class  | False Positive (FP) 22 | True Negative  (TN)  0

In [13]:
ac = accuracy_score(ytest,pred)*100
print("Accuracy Score : ",ac , "%")

Accuracy Score :  72.5 %

In [14]:
errate = 100 - ac
print("Error Rate : ",errate , "%")

Error Rate :  27.5 %

In [15]:
print(classification_report(ytest, pred))

              precision    recall  f1-score   support

           0       0.72      1.00      0.84        58
           1       0.00      0.00      0.00        22

    accuracy                           0.73        80
   macro avg       0.36      0.50      0.42        80
weighted avg       0.53      0.72      0.61        80

/home/pict/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/pict/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/pict/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))