In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score,confusion_matrix,accuracy_score,recall_score,classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [5]:
df.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [6]:
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [16]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state = 5)
sc_X = StandardScaler()
xtrain = sc_X.fit_transform(xtrain)
xtest = sc_X.transform(xtest)

In [17]:
print(f'Train Dataset Size - X: {xtrain.shape}, Y: {ytrain.shape}')
print(f'Test Dataset Size - X: {xtest.shape}, Y: {ytest.shape}')

Train Dataset Size - X: (320, 2), Y: (320,)
Test Dataset Size - X: (80, 2), Y: (80,)

In [18]:
lr = LogisticRegression(random_state=0,solver = 'lbfgs')
lr.fit(xtrain,ytrain)

LogisticRegression(random_state=0)

In [19]:
pred = lr.predict(xtest)

In [20]:
cm = confusion_matrix(ytest,pred)

In [21]:
print(f'''Confusion matrix :\n
                |Positive Prediction\t | Negative Prediction
----------------+------------------------+----------------------
Positive Class  | True Positive (TP) {cm[0,0]}  | False Negative (FN) {cm[0,1]}
----------------+------------------------+----------------------
Negative Class  | False Positive (FP) {cm[1, 0]} | True Negative  (TN)  {cm[1, 1]}\n\n''')

Confusion matrix :

                |Positive Prediction	 | Negative Prediction
----------------+------------------------+----------------------
Positive Class  | True Positive (TP) 47  | False Negative (FN) 6
----------------+------------------------+----------------------
Negative Class  | False Positive (FP) 6 | True Negative  (TN)  21

In [22]:
ac = accuracy_score(ytest,pred)*100
print("Accuracy Score : ",ac , "%")

Accuracy Score :  85.0 %

In [23]:
errate = 100 - ac
print("Error Rate : ",errate , "%")

Error Rate :  15.0 %

In [15]:
print(classification_report(yte0st, pred))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95        58
           1       0.94      0.77      0.85        22

    accuracy                           0.93        80
   macro avg       0.93      0.88      0.90        80
weighted avg       0.93      0.93      0.92        80